SERVER_PORT=8080
APPLICATION_URL=http://localhost:8080

OKTA_DOMAIN=
OKTA_OAUTH2_CLIENT_ID=
OKTA_OAUTH2_CLIENT_SECRET=

SESSION_SSL_ENABLED=false
SESSION_CACHE_HOST=127.0.0.1
SESSION_CACHE_PORT=6379

RABBITMQ_HOST
RABBITMQ_USER=
RABBITMQ_PASS=

KNOWLEDGE_DB_URL=
KNOWLEDGE_USER=
KNOWLEDGE_PASSWORD=

DOCUMENT_DB_URL=jdbc:postgresql://localhost:5433/document_db
DOCUMENT_USER=postgres
DOCUMENT_PASSWORD=postgres

KNOWLEDGE_BASE_URL=

MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=
TRACING_SAMPLING_PROBABILITY=0.1

IMPORT_STORAGE_PATH=/data/import
UPLOAD_STORAGE_PATH=/data/upload

ADMINS=

MISTRAL_AI_API_KEY=
OPEN_AI_API_KEY=
OPEN_AI_ENDPOINT=
OPEN_AI_COMPLETIONS_PATH=
CHAT_MODEL=